@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Generieren von Wiederherstellungscodes für die Zwei-Faktor-Authentifizierung (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Bewahren Sie diese Codes an einem sicheren Ort auf.</strong>
    </p>
    <p>
        Wenn Sie Ihr Gerät verlieren und nicht über die Wiederherstellungscodes verfügen, verlieren Sie den Zugang zu Ihrem Konto.
    </p>
    <p>
        Die Generierung neuer Wiederherstellungscodes ändert nicht die in Authentifizierungsanwendungen verwendeten Schlüssel. 
        Wenn Sie den in einer Authenticator-Anwendung verwendeten Schlüssel ändern möchten, sollten Sie <a asp-page="./ResetAuthenticator">Ihre Authenticator-Schlüssel zurücksetzen.</a>
    </p>
</div>
<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Generieren von Wiederherstellungscodes</button>
    </form>
</div>