@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Bestätigung Passwort vergessen";
}

<h1>@ViewData["Title"]</h1>
<p>
    Bitte überprüfen Sie Ihre E-Mail, um Ihr Passwort zurückzusetzen.
</p>

