@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "Zwei-Faktor-Authentifizierung";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>Ihre Anmeldung ist mit einer Authentifizierungsapplikation geschützt. Geben Sie Ihren Authentifizierungscode unten ein.</p>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <input asp-for="RememberMe" type="hidden" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.TwoFactorCode"></label>
                <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMachine">
                        <input asp-for="Input.RememberMachine" />
                        @Html.DisplayNameFor(m => m.Input.RememberMachine)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>
<p>
    Sie haben keinen Zugang zu Ihrem Authentifizierungsgerät? Sie können sich
    <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">mit einem Wiederherstellungscode anmelden</a>.
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
