@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Bestätigung der Registrierung";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
    <p>
        Diese App läuft im Localhost, daher ist die Mail Authentifizierung hier deaktiviert.
        <a id="confirm-link" href="@Model.EmailConfirmationUrl">Klicken Sie hier, um Ihr Konto zu bestätigen</a>
    </p>
    }
    else
    {
<p>
    Bitte überprüfen Sie Ihre E-Mail, um Ihr Konto zu bestätigen.
</p>
    }
}
